{% for item in items %}
    from: <a href="https://facebook.com/{{ item.0.buyer_uid }}" target="_blank">{{ item.0.buyer }}</a><br>
    <div>Достава:
        {% if item.0.delivery %}
            Да
        {% else %}
            Не
        {% endif %}
    </div>
    <div>Специјално барање: {{ item.0.special_request }}</div>
    <div style="background: lightgray">
    {% for pair in item.1 %}
        {{ pair.0 }} x{{ pair.1 }}<br>
    {% endfor %}
    Total: {{ item.2 }}<br>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" value="{{ item.0.id }}" hidden="hidden" name="order_id">
        <input type="submit" value="Одобри" name="_approve">    <input type="submit" value="Одбиј" name="_cancel">
    </form>
    <hr>
{% endfor %}
<button onclick="notifyMe()">notify</button>
<audio id="beep" src="audio/notification_beep.mp3." preload="auto" type="audio/mpeg"></audio>

<script>
    function playBeep() {
        document.getElementById("beep").play();
    }

    // request permission on page load
    document.addEventListener('DOMContentLoaded', function () {
      if (Notification.permission !== "granted")
        Notification.requestPermission();
    });

    function notifyMe() {
        playBeep();
      if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
        return;
      }

      if (Notification.permission !== "granted")
        Notification.requestPermission();
      else {
          var notification = new Notification('Notification title', {
              icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
              body: "Имате нови нарачки",
          });

          notification.onclick = function () {
              window.open(window.location.href);
          }
      }
    }

    setInterval(function () {
        if( {{ items|length }} > 0)
        {
            notifyMe();
        }

        location.reload();
    }, 15 * 1000);
</script>

