from: <a href="https://facebook.com/{{ item.0.buyer_uid }}" target="_blank">{{ item.0.buyer }}</a><br>
<div>Адреса: {{ item.0.address }}</div>
<div>Телефон: {{ item.0.phone }}</div>
<div>Достава:
    {% if item.0.delivery %}
        Да
    {% else %}
        <Не></Не>
    {% endif %}
</div>
<div>Специјално барање: {{ item.0.special_request }}</div>

<div style="background: lightgray">{% for pair in item.1 %}
    {{ pair.0 }} x{{ pair.1 }}<br>
{% endfor %}
    Total: {{ item.2 }}<br></div>

<script>
    window.print();
</script>
