<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
{% for item in items %}
    <strong>Ресторан: {{ item.0.restoran.name }} - {{ item.0.restoran.city }}</strong><br>
    Од: <a href="https://facebook.com/{{ item.0.buyer_uid }}" target="_blank">{{ item.0.buyer }}</a><br>
    <div>Адреса: {{ item.0.address }}</div>
    <div>Телефон: {{ item.0.phone }}</div>
    <div>Достава:
        {% if item.0.delivery %}
            Да
        {% else %}
            <Не></Не>
        {% endif %}
    </div>
    <div>Специјално барање: {{ item.0.special_request }}</div>

    <div style="background: lightgray">{% for pair in item.1 %}
        {{ pair.0 }} x{{ pair.1 }}<br>
    {% endfor %}
        Total: {{ item.2 }}<br></div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" value="{{ item.0.id }}" hidden="hidden" name="order_id">
        <input class="btn btn-success" type="submit" value="Обележи како завршена" name="finish">
        <input class="btn btn-default" type="submit" value="Обележи како одобрена" name="approve">
        <input class="btn btn-danger" type="submit" value="Одбиј нарачка" name="delete">
    </form>
    <hr>
{% endfor %}
</body>
