{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <title>{% block page_title %}ОнЛајн Храна{% endblock %}</title>

  {% if debug %}
    <link rel="stylesheet/less" href="{% static 'less/app.less' %}">
    <script type="text/javascript" src="{% static 'js/libs/less.min.js' %}"></script>
  {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/app.less' %}">
    {% endcompress %}
  {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Custom CSS -->
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href=" {% static 'css/navbar-fixed-side.css'%} " rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/mojcss.css' %}">

</head>

<body>
{% block body %}

<div class="container-fluid">
	<div class="row">
    <!-- navbar - meni -->
    <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">

                <!-- normal collapsible navbar markup -->

                <ul>
                    <a href="/"><h2>ОнЛајн <br> Храна</h2></a>

                    <!--moe meni-->
                    <li><a href="index.php">Почетна</a> </li>
                    <li class="showFirst"><a href="restoranti.php">Ресторанти<span
                                class="sb-caret"></span></a>
                        <ul>
                            <li><a href="pace.php">Паце</a>
                            </li>
                            <li><a href="{% static restoran %}">Огниште</a>
                            </li>
                            <li><a href="aledar.php">Аледар</a>
                            </li>
                        </ul>
                    </li>
                    <li class="showFirst"><a href="picerii.php">Пицерии<span
                                class="sb-caret"></span></a>
                        <ul>
                            <li><a href="#">Филитеа</a>
                            </li>
                            <li><a href="#">Капри</a>
                            </li>
                            <li><a href="#">Аквариум</a>
                            </li>
                        </ul>
                    </li>
                    <li class="showFirst"><a href="sendvicari.php">Сендвичари<span
                                class="sb-caret"></span></a>
                        <ul>
                            <li><a href="#">Кај Кокси</a>
                            </li>
                            <li><a href="#">Бургеркинг</a>
                            </li>
                            <li><a href="#">Два другара</a>
                            </li>
                        </ul>
                    </li>
                    <li class="showFirst"><a href="burekcilnici.php">Бурекчилници<span
                                class="sb-caret"></span></a>
                        <ul>
                            <li><a href="#">Боби</a>
                            </li>
                            <li><a href="#">Балкан Лукс</a>
                            </li>
                            <li><a href="#">Беличеви</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="kontakt.php">Контакт</a></li>
                    <li><a href="za_nas.php">За Нас</a> </li>
                    <li><a href="login.php">Најава </a></li>
                </ul>
            </nav>
    </div>
    <div class="container">
    {% block content %}

		<div class="col-lg-10">
			<div class="row">
				<div class="container-fluid">

					<center><h1>ОнЛајн Храна</h1></center>
					<img src="{% static 'img/slider1.jpg' %}" class="img-responsive main-image" height="100">

					<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>

				</div>
			</div>

			<div class="row-sredina">

		     <h3>Наша препорака</h3>

				<div class="container">
					<div class="col-md-11">


						<div class="well-none">
							<div id="myCarousel" class="carousel slide">

								<!-- Carousel items -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">

											<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
												<div class="container-a">
													<a href="aledar.php"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
													<div class="overlay-a">
														<div class="text-a">Aledar</div>
													</div>
												</div>
												<p>
													<img style="float: left; margin: 5px;" ... />
													Aledar
												</p>
											</div>

											<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
												<div class="container-a">
													<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
													<div class="overlay-a">
														<div class="text-a">Hello World</div>
													</div>
												</div>
												<p>
													<img style="float: left; margin: 5px;"  />
													Text goes here...
												</p>
											</div>

											<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
												<div class="container-a">
													<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
													<div class="overlay-a">
														<div class="text-a">Hello World</div>
													</div>
												</div>
												<p>
													<img style="float: left; margin: 5px;"  />
													Text goes here...
												</p>
											</div>

											<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
												<div class="container-a">
													<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
													<div class="overlay-a">
														<div class="text-a">Hello World</div>
													</div>
												</div>
												<p>
													<img style="float: left; margin: 5px;"  />
													Text goes here
												</p>
											</div>

										</div>
										<!--/row-->
									</div>

									<!--/row-->
								</div>
								<!--/item-->

								<!--/item-->
							</div>
							<!--/carousel-inner-->
							<!-- ostaveno za nekoj pat ako ima vrtenje
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>

                            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
                            -->
						</div>
						<!--/myCarousel-->
					</div>
					<!--/well-->
				</div>
			</div>

			<div class="container-fluid">
				<div class="row-sredina">
					<div class="col-lg-20">
						<h2>Сите</h2>

						<div class="container">
							<div class="col-md-11">


								<div class="well-none">
									<div id="myCarousel" class="carousel slide">

										<!-- Carousel items -->
										<div class="carousel-inner">
											<div class="item active">
												<div class="row">

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

													<div class="col-sm-3 col-xs-3 col-lg-3 col-md-3">
														<div class="container-a">
															<a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive" width="220" height="220"></a>
															<div class="overlay-a">
																<div class="text-a">Hello World</div>
															</div>
														</div>
														<p>
															<img style="float: left; margin: 5px;"  />
															Text goes here...
														</p>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/myCarousel-->
							</div>
							<!--/well-->
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}</div>
        </div>
</div>

  <!-- Google CDN jQuery with a local fallback -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>

  {% compress js %}
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  {% endcompress %}

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endblock %}
</body>
</html>
